@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

header{
	font-family: Noto Sans Jp;
	margin:0;
	text-align: center;
}

header{
  background:url(https://source.unsplash.com/pfR18JNEMv8) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

header{
	font-weight: 400;
	font-size: 1.5rem;
	margin: 0;
}

header h1{
	color: white;
}

h1{
	font-size: 2.5rem;
	color: #05090b;
}

h3{
	font-size: 1rem;
}

header ul{
	list-style: none;
	text-decoration: none;
}

header a{
	color: #485c79;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

.btn{
	border:grey 1px solid;
	padding:0.5rem 2rem;
	display: inline-block;
	margin: 2rem 0 0;
	border-radius: 50px;
	text-decoration:none;
	color:#333;
}

.btn:hover{
	background: #f4f4f4;
}

.btn-1{
	border:grey 1px solid;
	padding:0.5rem 2rem;
	display: inline-block;
	margin: 2rem 0 0;
	border-radius: 50px;
	text-decoration:none;
	color:#333;
}

.btn-1:hover{
	background: #f4f4f4;
}

.btn-2{
	border:grey 1px solid;
	padding:0.5rem 2rem;
	display: inline-block;
	margin: 2rem 0 0;
	border-radius: 50px;
	text-decoration:none;
	color:#333;
}

.btn-2:hover{
	background: #fcfcfc;
}

input {
	padding-top: 1%;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: #fcfcfc;
}

.no-outline:focus {
  outline: none;
}

header li{
	float: right;
	display: inline;
	padding: 0 20px 0 20px;
}

.submit{
	padding-top: 20px;
}

span{
	color: #d9bd95;
}

.container{
	display: flex;
	text-overflow: hidden;
	text-align:center;
}

footer{
	text-align: center;
}

.left{
	background-color: #eee;
}

.right{
	background-color: #ddd;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: #fcfcfc;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container-c {
  padding: 2px 16px;
}

footer{
  background:url(https://source.unsplash.com/pfR18JNEMv8) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  color: #fff;
}